.header{
    width: 100%;
    height: 80px;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
}
.title{
    width: 278px;
    height: 20px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 21px;
}
.titleH1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #1D1C1D;
    margin-right: 10px;
}
.titleDiv{
    width: 146px;
    height: 20px;
    background: #FF0F00;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages{
    display: flex;
    padding-top: 9px;
    padding-left: 20px;
}
.page{
    width: 130px;
    height: 40px;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #616061;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nowPage{
    width: 130px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color:#1D1C1D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
}